body {
    color: white;
    background: black;
    margin: 0px;
}  

header{
    border-bottom: solid 2px white;
    padding: 20px; 
    font-size: 32px;
    color: blueviolet;
}

section{
    background:blueviolet;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%; 
}

